# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
*.pdb
*.dll
*.exe

# Other
*.cache
*.db
*.db-shm
*.db-wal
*.rsuser
.vscode/
.idea/