# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser
*.pdb

# IDE
.vscode/
.idea/

# Database / cache
*.cache
*.db
*.db-shm
*.db-wal

# User-specific config
Web.config.user
appsettings.Development.json
